<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/navbar.ejs") %>
  <div class="container">
    <h1> <%- article.title %> </h1>
    <p>Written by: <%- article.author.name %></p>
    <p> <%- article.body %></p>
  </div>
</body>
</html>
